body
{
      color: black;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
}
p
{
      color: blue;
      text-align: justify;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}